{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info" role="alert">
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</div>
{% endif %}
{% endwith %}


<!-- Header -->
<header id="header" class="alt">
	<div class="inner">
		<h1>Votre profil</h1>
		<h2>Retrouvez vos informations et vos cours ici</h2>
		<div class="container text-center my-5">
			<a href="{{ url_for('home')}}" class="btn btn-outline-dark text-center" role="button"
				aria-pressed="true">HOME</a>
		</div>
	</div>
</header>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Banner -->
	<section id="intro" class="main">
		<img src="{{image if image_exist else url_for('static', filename='images/profile.jpg')}}" width="250px"
			height="auto" class="mb-3" alt="">
		<h2>{{user.firstname}} {{user.lastname}}</h2>
		<p>{{user.description}}</p>
		<ul class="actions">
			<li><a href="{{ url_for('modify_profile')}}" class="button big">Modifier mon profil</a></li>
			<li><a href="{{ url_for('delete_profile') }}" class="button big">Supprimer mon compte</a></li>
		</ul>
		<a href="{{ url_for('courses', privacy='private', category='aucune') }}" class="button big">Mes cours</a>

	</section>







	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>

	</footer>

</div>


</body>

</html>

{% endblock %}