{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}

<h1 class="text-center my-5 container">Mot de passe oublié</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes container">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="" class="container" method="post" novalidate>
	{{ form.hidden_tag() }}
	<div class='' > 
		<p>
			<input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
			{{ form.email.label }}<br>
			{{ form.email(size=16) }}<br>
			{% for errors in form.email.errors %}
			<span style="color:red;">{{ errors }}</span>
			{% endfor %}
		</p>
	</div> 
	<p class="align-center"> {{ form.submit() }} </p>
{% endblock %}