{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
{% set id_course = course.id %}
{% set course = course.to_dict() %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info" role="alert">
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</div>
{% endif %}
{% endwith %}

<h1 class="text-center my-5">{{course['title']}}</h1>
<h3 class="text-center ">{{get_created_by_name(course['created_by'])}}</h3>


<div class="container text-center">
  <articles>
    <h4>{{course['category']}}</h4>
    <div class="metadata">{{course['date'].strftime("%d/%m/%Y à %Hh%M")}}</div>
    <div class="content m-5">
      <iframe id="pdfviewer" src={{get_pdf(id_course)}} frameborder="0" width="100%" height="100%"></iframe>
      <div> {{course['resume']}}</div>
      <div>Note</div>
      <div class="icons">
        {% if is_my_course(course['created_by']) %}
        <a href="{{ url_for('delete_course', id=id_course) }}" class="icon fas fa-trash-alt"></a>
        <a href="{{ url_for('modify_course', id=id_course ) }}" class="icon fas fa-edit"></a>
        {% endif %}
      </div>
    </div>
  </articles>
</div>

<form action="" method="post" class="container" enctype="multipart/form-data" novalidate>
	{{ form.hidden_tag() }}
	<div class='' > 
		<p>
			{{ form.body.label }}<br>
			{{ form.body(size=16) }}<br>
			{% for errors in form.body.errors %}
			<span style="color:red;">{{ errors }}</span>
			{% endfor %}
		</p>
	</div> 
	<p class="align-center"> {{ form.submit() }} </p>
</form>


<div class="container my-5">
  <div class="row">
    {% for comment in comments %}
    {% set id_comment = comment.id %}
    {% set comment = comment.to_dict() %}
      <div class="col-12">
          <div class="card card-white post">
              <div class="post-heading">
                  <div class="float-left image">
                      <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                  </div>
                  <div class="float-left meta">
                      <div class="title h5">
                          <a href="#"><b>Ryan Haywood</b></a>
                          made a post.
                      </div>
                      <h6 class="text-muted time">{{comment['date'].strftime("%d/%m/%Y à %Hh%M")}}</h6>
                  </div>
              </div> 
              <div class="post-description"> 
                  <p>{{comment['text']}}</p>
              </div>
              <ul class="text-center">
                <li><a href="{{ url_for('modify_comment', idComment=id_comment) }}" class="icon fas fa-edit"></a></li>
                <li><a href="{{ url_for('delete_comment', idComment=id_comment) }}" class="icon fas fa-trash-alt"></a></li>
              </ul>
                
                </a>
          </div>
      </div>
      {% endfor %}
  </div>
</div>


{% endblock %}