{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="container flashes">
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Header -->
<header id="header" class="alt">
	<div class="inner">
		<h1>Gestion des catégories</h1>
	</div>
</header>


<div id="wrapper" class="text-center">
	<h5>Ajouter une le nom d'une nouvelle catégorie</h5>
	<form action="/admin/create" method="post">
		<input type="text" name="create">
		<input class="my-2 px-3" id="submit" name="submit" type="submit" value="Ajouter">
	</form>

	

	<div class="container table-responsive">
		<table>
			<thead>
				<tr>
					<th class="text-center">
						Modifier
					</th>
					<th class="text-center">
						libellé
					</th>
					<th class="text-center">
						Supprimer
					</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
				<tr>
					<th>
						<form class="text-center" action="/admin/modify" method="post">
							<input type="text" value={{category}} hidden name="category">
							<input type="text" value={{category}} name="modify">
							<button class="my-3 px-3"><i class="icon fas fa-edit"></i></button>
						</form>
					</th>
					<th>
						<div class="text-center">
						{{ category }}
						</div>
					</th>
					<th>
					<form class="text-center" action="/admin/delete" method="post">
						<input type="text" hidden value={{category}} name="delete">
						<button class="my-3 px-3"><i class="icon fas fa-trash-alt"></i></button>
					</form>
				</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endblock %}