{% extends "base.html" %}

{% block title %} Home page{% endblock %}

{% block content %}


		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Bienvenue sur Sharse</h1>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-user-graduate major"></span>

						<h2>Sharse, la librairie de fiches de révision</h2>
						<p>Ici, tu pourras facilement stocker tes fiches de révisions et en découvrir d'autres sur de nombreux sujets. Inscris-toi et démarre l'aventure.</p>
						<ul class="actions">
							<li><a href="{{ url_for('signin')}}" class="button big mt-3">Inscription</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src={{ url_for('static', filename='images/pic01.jpg') }} alt="" /></a>
								<h3>Créer</h3>
							</header>
							<p>Crée ta fiche de cours sur le support que tu veux.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src={{ url_for('static', filename="images/pic02.jpg") }} alt="" /></a>
								<h3>Convertir</h3>
							</header>
							<p>Transforme ton document en un beau PDF.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src={{ url_for('static', filename="images/pic03.jpg") }} alt="" /></a>
								<h3>Partager</h3>
							</header>
							<p>Envoie ton fichier en PDF sur notre serveur.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src={{ url_for('static', filename="images/pic04.jpg") }} alt="" /></a>
								<h3>Découvrir</h3>
							</header>
							<p>Retrouve tes cours directement sur ta librairie personnelle. Découvre les cours des autres utilisateurs sur les sujets qui t'intéressent.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Totalement gratuit</h2>
						<p>Ce site est gratuit et le restera toujours. Vois ici une opportunité de mettre de l'ordre dans tes feuilles de cours, d'y avoir accès partout et simplement, et surtout de partager ta vision d'un sujet. C'est aussi un bon moyen de découvrir des sujets traités de mille et une façon.</p>
						<ul class="actions">
							<li><a href="{{ url_for('signin')}}" class="button big">Je veux m'inscrire</a></li>
						</ul>
					</section>


				

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>


	</body>
</html>

{% endblock %}