{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}


<!-- Header -->
<header id="header" class="alt">
	<div class="inner">
		<h1>Votre profil</h1>
		<h2>Retrouvez vos informations et vos cours ici</h2>
		<div class="container text-center my-5">
			<a href="{{ url_for('home')}}" class="btn btn-outline-dark text-center" role="button"
				aria-pressed="true">HOME</a>
		</div>
	</div>
</header>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Banner -->
	<section id="intro" class="main">
		<img src="{{image if image_exist else url_for('static', filename='images/profile.jpg')}}" width="250px" height="auto" class="mb-3"
			alt="">
		<h2>{{user.firstname}} {{user.lastname}} {{user.LocalId}}</h2>
		<p>{{user.description}}</p>
		<ul class="actions">
			<li><a href="{{ url_for('modify_profile')}}" class="button big">Modifier mon profil</a></li>
			<li><a href="{{ url_for('delete')}}" class="button big">Supprimer mon compte</a></li>
		</ul>
	</section>


	{# COLLECTION PERSO  
	Il faudra une boucle for quand la BDD sera remplie
	#}

	<div class="container">
		<section class="articles my-5 text-center">
			<div class="row">

				<div class="col-12 col-lg-6 col-sm-12">
					<articles>
						<h3 class="mt-5 text-break">TITRE</h3>
						<h4>CATEGORY</h4>
						<div class="metadata">DATE</div>
						<div class="content">
							<img src="{{ url_for('static', filename='images/sheets.jpg') }}" width="250px" height="auto"
								alt="">
							<div> Resume </div>
							<div>Note</div>
							<a href="#" class="button big">lire la fiche</a>
						</div>
					</articles>
				</div>

				<div class="col-12 col-lg-6 col-sm-12">
					<articles>
						<h3 class="mt-5 text-break">TITRE</h3>
						<h4>CATEGORY</h4>
						<div class="metadata">DATE</div>
						<div class="content">
							<img src="{{ url_for('static', filename='images/sheets.jpg') }}" width="250px" height="auto"
								alt="">
							<div> Resume </div>
							<div>Note</div>
							<a href="#" class="button big">lire la fiche</a>
						</div>
					</articles>
				</div>

				<div class="col-12 col-lg-6 col-sm-12">
						<h3 class="mt-5 text-break">TITRE</h3>
						<h4>CATEGORY</h4>
						<div class="metadata">DATE</div>
						<div class="content">
							<img src="{{ url_for('static', filename='images/sheets.jpg') }}" width="250px" height="auto"
								alt="">
							<div> Resume </div>
							<div>Note</div>
							<a href="#" class="button big">lire la fiche</a>
						</div>
					</articles>
				</div>

				<div class="col-12 col-lg-6 col-sm-12">
					<articles>
						<h3 class="mt-5 text-break">TITRE</h3>
						<h4>CATEGORY</h4>
						<div class="metadata">DATE</div>
						<div class="content">
							<img src="{{ url_for('static', filename='images/sheets.jpg') }}" width="250px" height="auto"
								alt="">
							<div> Resume </div>
							<div>Note</div>
							<a href="#" class="button big">lire la fiche</a>
						</div>
					</articles>
				</div>

			</div>
		</section>
	</div>


	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>

	</footer>

</div>


<!-- DEBUG -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>

</html>

{% endblock %}